<h1>
  <%= @container.id ? t('edit_id') + ' ' + @container.id.to_s : t('add_new') %>
</h1>

<%= semantic_form_for @container, :url => @action_url, :html => { :method => @action_method, :multipart => true } do |f| %>

    <%= f.inputs do %>
        <%= f.input :name %>
        <%= f.input :data %>
        <%= f.input :visible %>
        <%= f.input :image, :hint => f.template.image_tag(@container.image.url :medium) %>
        <%= f.input :delete_image, :as => :boolean, :label => t('delete_image') %>
    <% end %>

    <h2>
      <%= t 'addons' %>
    </h2>

    <%= f.semantic_fields_for :addons do |fa| %>

        <%= render 'addon_fields', :f => fa %>

    <% end %>

    <div>
      <%= link_to_add_association t('add_new'), f, :addons, :class => 'action_btn' %>
    </div>

    <hr/>

    <%= f.actions :submit %>

    <hr/>

<% end %>

<%= render 'containers/back_to_list' %>