<!DOCTYPE html>
<html>
<head>
  <title>RubyTest</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= :controller_name %>" class="<%= :action_name %>">

  <div class="links">
    <div class="container">
      <%= select_tag :locale, options_for_select(@languages, I18n.locale), {:onchange => 'setLocale();', :id => 'language_select'} %>
    </div>
  </div>

  <div class="header">
    <div class="container">
      <h1>Ruby on Rails <span>Test</span></h1>
    </div>
  </div>

  <div class="flash">
    <ul class="container">
      <%- flash.each do |name, message| %>
          <li>
            <%= "#{t name}:" %>
            <span>
              <%= "#{message}" %>
            </span>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <div class="container">

      <%= yield %>

    </div>
  </div>

</body>
</html>
